/*colores:
botones, hover: #FF00BF
nav blanco con letras azules y fondo de footer: #333447
titulos form: #352384
texto form: #728099
gradiente morado: linear-gradient(#76278f, #2B1E66)

*/
/*nav*/
#navigator{
	width: 100%;
	position: fixed;
	text-align: center;
}
.logo-blanco{
	padding: 20px;
}
.hide{
  display: none;
}
/*ordenamiento lista*/
ul{
	margin-left: 600px;
}
li{
	display: inline-block;
	margin-top: 20px;
}
.flex-list-nav{
	justify-content: flex-end;
}
.nav-menu{
	display: inline-block;
	color: white;
	padding: 15px;
}
.borde-blanco{
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 10%;
}
/*main*/
#main{
	background: linear-gradient(#180F2D,#650E82);
}
#main .flex-main{
	flex-direction: row;
	justify-content: flex-end;
}
/*registro*/
#registro{
	width: 400px;
	height: 400px;
	position: absolute;
	background-color: whitesmoke;
}
video{
	width: 80%;
}
/*video y articulo*/
/*footer*/
footer  .flex-container {
max-width: 95%;
margin: 0 auto;
justify-content: space-between;
}