/*colores:
botones, hover: #FF00BF
nav blanco con letras azules y fondo de footer: #333447
titulos form: #352384
texto form: #728099
gradiente morado: linear-gradient(#76278f, #2B1E66)

*/
/*nav*/
*{	
	margin: 0 auto;
	padding: 0;	
}
body {	
	width: 100%;
	font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom, rgba(27,15,48,1) 0%, rgba(39,16,62,1) 30%, rgba(82,13,108,1) 72%, rgba(102,14,131,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b0f30', endColorstr='#660e83', GradientType=0 );
    color: white;
    line-height: 1.71429;
}
.flex-container {
    display: flex;
}
/*nav*/
nav#navegador.flex-container.fondo-blanco{
	position: fixed;
	width: 100%;
	z-index: 20;
}
div.logo-class{
	background-image: url(../images/logo-white.png);
	background-repeat: no-repeat;
    width: 70px;
    background-size: 100%;
    margin-top: 25px;
    z-index: 15;
}
div.lista-nav{
	z-index: 10;
}
ul{
	list-style:none;
	margin-left: 195px;
}
a.nav-menu{
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 18px;
}
a.nav-menu:hover{
	color:#FF00BF;
}
li{
	padding: 20px;
	display: inline-block;
	margin-top: 20px;
}
a.nav-menu.borde-blanco{
	border: 1px solid white;
	border-radius: 5px;
}
/*nav al bajar*/
.fondo-blanco{
	background-color: #fff;
    transition: background-color .3s ease 0s;
}
div#logo-id.logo-class.logo-pink{
	background-image: url(../images/logo-pink.png);
	background-size: 100%;
	z-index: 20;
}
a#drive.nav-menu.link-gris, a#explore.nav-menu.link-gris, a#help.nav-menu.link-gris{
	color: #333447;
	z-index: 20;
}
a#log.nav-menu.borde-gris{
	border: 1px solid #999;
	padding: 5px 10px;
	border-radius: 5px;
	color: #333447;
	z-index: 20;
}
a#sign.nav-menu.borde-rosa{
	border: 1px solid transparent;
    color: transparent;
    padding: 5px 15px;
    border-radius: 5px;
}
    
a#sign.nav-menu.borde-rosa.sign-rosa{
	border: 1px solid #FF00BF;
	color: #FF00BF;
	padding: 5px 10px;
	border-radius: 5px;
	z-index: 20;
}
.show{
	display: inherit;
}
/*video*/
video{
	width: 97%;
	margin-top: -100px;
	z-index: -1;
}
/*registro*/
section.flex-container.registro-caja{
	flex-direction: column;
    justify-content: space-between;
    width: 450px;
    padding: 40px;
    margin-top: 85px;
    position: absolute;
    right: 0;
    background-color: #fff;
}
h2.text-uppercase.miles.mb-0.mt-0{
	color: #352384;
	font-weight: 600;
	font-size: 2.2rem;
	margin: 8px;
}
h6.text-uppercase.mb-0.mt-0{
	margin: 5px;
	color: #000;
    margin-left: 10px;
    font-size: medium;
    font-weight: 400;
}
/*input*/
input#input-number, .input-ocultos input{
    padding: 10px;
    margin: 10px;
    margin-left: -220px;
    border: none;
    border-bottom: solid 2px #999;
    outline: 0;
    background-color: transparent;
    font-size: 16px;
}
.btn-driver-class{
	padding: 15px 20px;
    border: none;
    margin: 10px;
    margin-left: -100px;
    color: #fff;
    background-color: #FF00BF;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}
div.btn-a{
	display: inline-flex;
}
a.already, a.earn-money{
	text-decoration: none;
	font-size: small;
	color: #999;
}
a.sign-up-to-ride{
	padding-top: 25px;
	text-decoration: none;
}
/*funcionalidad registro*/
.gral-hide, .hide{
	display: none;
}
/*info*/
#info{
	background: linear-gradient(#76278f, #2B1E66);
	margin-top: -8px;
	padding: 70px 140px;
}

h2{
	display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.col-text.flex-container{
	flex-direction: column;
    align-content: center;
    width: 30%;
    padding: 60px;
}
.col-img img{
	height: 569px;
	margin-top: 40px;
}
